services:
  api:
    build:
      context: ./To-do-teste
      dockerfile: Dockerfile
    container_name: todoteste-api
    ports:
      - "8080:8080"
      - "8081:8081"
    depends_on:
      - postgres
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: Host=postgres;Port=5432;Database=todo_db;Username=postgres;Password=123456
    restart: unless-stopped

  postgres:
    image: postgres:16
    container_name: todoteste-postgres
    environment:
      POSTGRES_DB: todo_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
